In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Importing the dataset
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

data= pd.read_csv(url,sep='\t')

In [ ]:
data.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

In [ ]:
#no of attributes in data set
data.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [ ]:
#no of entries in a data set Here [0-> rows][1->columns]
data.shape

(4622, 5)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
# name of all the columns
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
data.index

RangeIndex(start=0, stop=4622, step=1)

In [ ]:
#most ordered item
c = data.groupby('item_name').sum()
c=c.sort_values(['quantity'],ascending=False)
print(c.head(1))

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [ ]:
#most ordered item
c = data.groupby('choice_description').sum()
c=c.sort_values(['quantity'],ascending=False)
print(c.head(1))

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [ ]:
total_items= data.quantity.sum()
total_items

4972

In [ ]:
data.item_price.dtype

dtype('float64')

In [ ]:
#convert it into float
convert = lambda x: float(x[1:-1])
data.item_price =  data.item_price.apply(convert)

TypeError: ignored

In [ ]:
data.item_price.dtype

dtype('float64')

In [ ]:
#revenue
revnue=(data['item_price']*data['quantity']).sum()
revnue
print("revnue $:"+str(np.round(revnue,2)))

revnue $:39237.02

In [ ]:
orders = data.order_id.value_counts().count()
orders

1834

Average Revnue Amount per Order

In [ ]:
data['revnue'] = data['quantity'] * data['item_price']
order_grouped = data.groupby(by=['order_id']).sum()
order_grouped.mean()['revnue']

In [ ]:
data.groupby(['order_id']).sum().mean()['revnue']

21.394231188658654

Different items

In [ ]:
data.item_name.value_counts().count()

50

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep='\t')
data.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [ ]:
data.item_price.dtypes

dtype('O')

In [ ]:
#convert it into float
convert = lambda x: float(x[1:-1])
data.item_price =  data.item_price.apply(convert)
data.head()

   order_id  ...  item_price
0         1  ...        2.39
1         1  ...        3.39
2         1  ...        3.39
3         1  ...        2.39
4         2  ...       16.98

[5 rows x 5 columns]

In [ ]:
#delete duplicates in item name and quantity
data_filtered=data.drop_duplicates(['item_name','quantity','choice_description'])
data_filtered

      order_id  ...  item_price
0            1  ...        2.39
1            1  ...        3.39
2            1  ...        3.39
3            1  ...        2.39
4            2  ...       16.98
...        ...  ...         ...
4602      1827  ...        9.25
4607      1829  ...       11.75
4610      1830  ...       11.75
4611      1830  ...       11.25
4612      1831  ...        9.25

[1949 rows x 5 columns]

In [ ]:
#select the products which quantity equals to 1
data_one =data_filtered[data_filtered.quantity==1]
data_one
data.query('item_price > 10').item_name.nunique()

31

What is the price of each data item

In [ ]:
#data_filtered =data.drop_duplicates(['item_name','quantity'])
#data_filtered
data[(data['item_name']== 'chicken_bowl')& (data['quantity'] == 1)]
#select only the products with quantity equals to 1
data_one = data_filtered[data_filtered.quantity == 1]
data_one
# select only the item_name and item_price columns
price_per_item = data_one[['item_name', 'item_price']]
price_per_item

# sort the values from the most to less expensive
price_per_item.sort_values(by = "item_price", ascending = False).head(20)

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75
39            Barbacoa Bowl       11.75
738       Veggie Soft Tacos       11.25
186       Veggie Salad Bowl       11.25
62              Veggie Bowl       11.25
57           Veggie Burrito       11.25
250           Chicken Salad       10.98
5              Chicken Bowl       10.98
8          Steak Soft Tacos        9.25
554   Carnitas Crispy Tacos        9.25
237     Carnitas Soft Tacos        9.25
56      Barbacoa Soft Tacos        9.25
92       Steak Crispy Tacos        9.25
664             Steak Salad        8.99
54               Steak Bowl        8.99
3750         Carnitas Salad        8.99

Sort By Names Of Item

In [ ]:
data.item_name.sort_values

<bound method Series.sort_values of 0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object>

Most Expensive Item Ordered

In [ ]:
data.sort_values(by="item_price",ascending=False).head(1)

      order_id  quantity  ... choice_description item_price
3598      1443        15  ...                NaN      44.25

[1 rows x 5 columns]

How many times was a Veggie Salad Bowl ordered?

In [ ]:
data_ordered = data[data.item_name =="Veggie Salad Bowl"]
len(data_ordered)

18

How many times did someone order more than one Canned Soda?

In [ ]:
order=data[(data.item_name=="Canned Soda")&(data.quantity > 1)]
len(order)

20