In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('advertising.csv')
#X=dataset.iloc[:,[2,3]]
X = dataset.iloc[:, 1:4]# : means all the rows and then columns 2 and 3 exclude 4
y = dataset.iloc[:, 4]

In [ ]:
dataset.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

In [ ]:
dataset.shape

(400, 5)

In [ ]:
X.head()

   Gender   Age  EstimatedSalary
0    Male  19.0          19000.0
1    Male  35.0          20000.0
2  Female  26.0          43000.0
3  Female  27.0          57000.0
4    Male  19.0          76000.0

In [ ]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [ ]:
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [ ]:
gender.head()

   Male
0     1
1     1
2     0
3     0
4     1

In [ ]:
#drop categorical features
X=X.drop(['Gender'],axis=1)

In [ ]:
X=pd.concat([X,gender],axis=1)

In [ ]:
X.head()

    Age  EstimatedSalary  Male
0  19.0          19000.0     1
1  35.0          20000.0     1
2  26.0          43000.0     0
3  27.0          57000.0     0
4  19.0          76000.0     1

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 5)

In [ ]:
#feature scaling to scale down the data into same unit
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)# this time we can't use fit beacuse fit method do only at once

In [ ]:

# Fitting Kernel SVM to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [ ]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [ ]:
cm

array([[61,  5],
       [ 9, 25]])

In [ ]:

from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)

In [ ]:
accuracy

0.86

In [ ]:
# Applying Grid Search to find the best model and the best parameters
from sklearn.model_selection import GridSearchCV
parameters = [{'C': [1, 10, 100, 1000], 'kernel': ['linear']},
              {'C': [1, 10, 100, 1000], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]},
              {'C': [1, 10, 100, 1000], 'kernel': ['rbf','poly','sigmoid'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]
grid_search = GridSearchCV(estimator = classifier,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10,
                           n_jobs = -1)
grid_search = grid_search.fit(X_train, y_train)

In [ ]:
accuracy=grid_search.best_score_

In [ ]:
accuracy

0.9066666666666666

In [ ]:
grid_search.best_params_

{'C': 1, 'gamma': 0.7, 'kernel': 'rbf'}